.landing-container {
  position: relative;
  width: 100vw;
  height: 83vh;
  overflow: hidden;
  background-color: black;
}

.globe-container {
  width: 100%;
  max-width: 1000px;
  height: 660px;
  margin: 40px auto 0;
  position: relative;
  z-index: 1;
}

.content-overlay {
  position: relative;
  z-index: 2;
  text-align: center;
  color: white;
}
.main-title {
  font-size: 2.8rem;
  font-weight: 650;
}
.main-content.fade-in {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 1s ease-in, transform 1s ease-in;
}

.main-content {
  opacity: 0;
  transform: translateY(10px);
}

.get-started-btn-globe {
  margin-top: 20px;
  padding: 12px 24px;
  font-size: 16px;
  background-color: white;
  color: black;
  font-weight: 600;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  white-space: nowrap;
  font-size: 16px;
}

.get-started-btn-globe:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(255, 255, 255, 0.3);
}
